body {
  background: rgb(203, 236, 206);
  background: linear-gradient(
    90deg,
    rgb(184, 244, 169) 0%,
    rgb(156, 238, 164) 30%,
    rgb(161, 253, 179) 68%,
    rgb(138, 235, 142) 100%
  );
  overflow-y: hidden;
}

.formContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContainer form {
  background-color: #fcf9f9;
  width: 70%;
  max-width: 450px;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  box-shadow: 30px 43px 32px -34px;
}

h1 {
  text-align: center;
}

.uiForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
}

.formField {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formField input {
  border: 1px solid grey;
  padding: 20px;
  border-radius: 4px;
}

.formField input:focus {
  outline: none;
}

.formField label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 3px;
}

button {
  background-color: rgb(149, 213, 141);
  width: 100%;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  background-color: rgb(65, 65, 165);
}

.errorMsg {
  color: red;
  margin: 0;
  align-self: flex-start;
}

.msgOk {
  color: green;
  margin-top: 15px;
}
